cycler==0.10.0
filterpy==0.1.4
matplotlib==1.5.3
mpmath==0.19
numpy==1.11.2
PeakUtils==1.0.3
pyparsing==2.1.10
pyserial==3.2.1
python-dateutil==2.5.3
pytz==2016.7
ruamel.yaml==0.12.16
scipy==0.18.1
six==1.10.0
sympy==1.0
typing==3.5.2.2
vext==0.6.2
vext.panda3d==0.5.20
